<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/sserver</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">1ab312c</property>
    <property name="hibernate.connection.pool_size">100</property>

    <mapping class="com.company.UsersEntity"/>
    <mapping class="com.company.User"/>

<!--    <property name="show_sql">false</property>-->
<!--    <property name="dialect">org.hibernate.dialect.MySQLDialect</property>-->

    <!-- Mapping files -->
<!--    <mapping resource="model.hbm.xml"/>-->

  </session-factory>
</hibernate-configuration>